<div class="container">
  <div class="alert alert-danger">
    <strong>Error!</strong> You cannot buy a ticket couse there are 0 tickets left :(.
  </div>
  <div class="text-center">
    <%= link_to "Back",root_path, :class => "btn btn-warning"%>
  </div>
</div>